<div id="asideWrapper">
	<span {{action 'close' }} id="asideMenuClose"></span>
	<div id="asideTitle">
		<span>Application Title</span>
	</div>
	<div id="asideSearch">
		{{input value=searchFilter type="search" id="asideSearchInput" placeholder="Search for tables..." }}
	</div>
	<div class="asideListTitle">
		<span class="inner">Databases</span>
	</div>
	<div class="asideDivider"></div>
	<div class="asideListContainer">
		<ul class="asideList">
			<li class="asideListItem">
				<a {{action 'showDialog'}} id="addDatabase" class="container clr">
					<div class="arrow left">
					</div>
					<div class="icon add left">
						<span class="inner"></span>
					</div>
					<div class="text">
						<span class="listItemName">Add database</span>
						<span class="listItemChanges"></span>
					</div>
				</a>
			</li>
		</ul>
		{{#each database in model }}
			<ul class="asideList">
				<li class="asideListItem colapsed parent">
					{{#view 'databaseitem'}}
						{{#link-to 'database' database.name database.id class="container parentC" title=database.name }}
							<div class="arrow left">
								<span class="inner"></span>
							</div>
							<div class="icon left">
								<span class="inner"></span>
							</div>
							<div class="text">
								<span class="listItemName">{{database.name}}</span>
							</div>
						{{/link-to}}					  
					{{/view}}
					{{#each table in database.table }}
						<ul class="asideList">
							{{#view 'tableitem'}}
								{{#link-to 'table' database.name database.id table.name table.id  title=table.name class="container" }}
									<div {{bind-attr class=":icon :table :left table.isRelated:active"}}>
										<span class="inner"></span>
									</div>
									<div class="text">
										<span {{bind-attr class=":listItemName table.isRelated:active"}} >{{table.name}}</span>
										{{#if table.noOfChanges}}
										  <span class="listItemChanges">{{table.noOfChanges}}</span>
										{{/if}}
									</div>
								{{/link-to}}
							{{/view}}
						</ul>
					{{/each}}
				</li>
			</ul>	  
		{{/each}}
	</div>
	<div class="asideDivider"></div>	
</div>