<header id="header" class="g_noSelect">
	<div id="headerInner">
		<div id="headerTitle">	
			{{#if this.model.table.database.name }}
				<span>{{this.model.table.database.name}} - {{this.model.table.name}}</span>
			{{else}}
				{{#if this.model.name}}
					<span>{{this.model.name}}</span>
				{{else}}
					<span>Dewire DB</span>
				{{/if}}
			{{/if}}	
		</div> 
		<div id="headerIcon">
			<ul class="headerIconList left clr">
				<li class="headerIconListItem left">
					<a {{ action "toggleMenu" }} class="headerMenuIcon" href="#" id="menu"></a>
				</li>
			</ul>
			{{#if this.model.table.database }}
				<ul class="headerIconList right clr">
					<li class="headerIconListItem right">
						<a {{action 'toggleStructure'}} href="#" id="structure" class="headerMenuIcon"></a>
					</li>							
					<li class="headerIconListItem right">
						<a {{action 'toggleChain'}} href="#" id="chain" class="headerMenuIcon"></a>
					</li>
					<li class="headerIconListItem right">
						<a {{action 'toggleSearch' }} href="#" id="search" class="headerMenuIcon left"></a>
						<input {{action 'headerSearch' on='keyUp' }} type="search" id="searchInput" class="left" placeholder="Search for data"/>
					</li>					
				</ul>			  
			{{/if}}
		</div>
	</div>
</header>
