{{render "header" this.model}}
<div id="actionBar" class="clr g_noSelect">
	<span id="infoText" class="left"><strong id="numberOfRows">1</strong> rad markerad i <strong id="tableNames">Users</strong></span>
	<a class="actionContainer left">
		<div class="inner clr">
			<span class="actionIcon add left"></span>
			<span class="actionText left">Lägg till</span>
		</div>
	</a>				
	<a class="actionContainer left">
		<div class="inner clr">
			<span class="actionIcon delete left"></span>
			<span class="actionText left">Ta bort</span>
		</div>
	</a>
</div>
<section id="contentWrapper">
	<div id="contentInnerWrapper">
		<div id="tableWrapper" class="g_noSelect">
			{{#each table in model.table.relatedTables}}
				<div class="tableContainer Users Files Teams UserPermissions">
					<div class="tableTitle">
						<div class="titleDeco"></div>
						<span class="inner g_txtToUpper">{{table.name}}</span>
					</div>
					<table class="defaultTable">
						<thead class="tableHead">
							<tr class="tableRowHeader">
								<th class="tableHeadCol">
									{{input type="checkbox" checked=markRow}}
								</th>
								{{#each column in model.table.columns }}
									{{#view 'tablecolumn'}}
										<div class="text">
											<span>{{column.name}}</span>
										</div>
										<div class="iconContainer">
											<span class="arrowSort"></span>
										</div>
									{{/view}}
								{{/each}}
							</tr>
						</thead>
						<tbody class="tableBody">
							{{#each row in model.table.rows itemController=rowscontroller }}
								  <tr {{ bind-attr class="row.isMarked:active :tableRow" }}>
								  	<td class="tableCol">
										{{input type="checkbox" checked=row.isMarked action='hej' }}
									</td>
									{{#each rowd in row.rowcontents }}
										<td class="tableCol">
											<span class="tableData">{{rowd.val}}</span>
										</td>
									{{/each}}
								</tr>	
							{{/each}}
						</tbody>
					</table>
				</div>
			{{/each}}
		</div>
	</div>
</section>
