{{render "header" this.model}}
<section id="contentWrapper">
	<div id="contentInnerWrapper">
		<div id="tableWrapper" class="g_noSelect">
				{{#each table in model.table.relatedTables}}
				<div class="tableContainer Users Files Teams UserPermissions">
					<div class="tableTitle">
						<div class="titleDeco"></div>
						<span class="inner g_txtToUpper">{{table.name}}</span>
					</div>
					<table class="defaultTable">
						<thead class="tableHead">
							<tr class="tableRowHeader">
								<th class="tableHeadCol">
									<input type="checkbox" />
								</th>
								{{#each column in model.table.columns }}
									<th class="tableHeadCol">
										<div class="text">
											<span>{{column.name}}</span>
										</div>
										<div class="iconContainer">
											<span class="arrowSort"></span>
										</div>
									</th>
								{{/each}}
							</tr>
						</thead>
						<tbody class="tableBody">
							{{#each row in model.table.rows }}
								  <tr {{ bind-attr class="even odd :tableRow" }}>
								  	<td class="tableCol">
										<input type="checkbox" data-filter="users-1"/>
									</td>
									{{#each rowd in row.rowcontents }}
										<td class="tableCol">
											<span class="tableData">{{rowd.val}}</span>
										</td>
									{{/each}}
								</tr>	
							{{/each}}
							<tr class="tableRow even" data-row="users-1">
								<td class="tableCol">
									<input type="checkbox" data-filter="users-1"/>
								</td>
								<td class="tableCol">
									<span class="tableData">1</span>
								</td>
								<td class="tableCol">
									<span class="tableData">Yngve</span>
								</td>
								<td class="tableCol">
									<span class="tableData">kalasklister</span>
								</td>
							</tr>									
							<tr class="tableRow odd" data-row="users-2">
								<td class="tableCol">
									<input type="checkbox" data-filter="users-2"/>
								</td>
								<td class="tableCol">
									<span class="tableData">2</span>
								</td>
								<td class="tableCol">
									<span class="tableData">Angelica</span>
								</td>
								<td class="tableCol">
									<span class="tableData">kusinvitamin</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			{{/each}}
		</div>
	</div>
</section>
