{{render "header" this.model}}
<div id="headerBorder"></div>
<div id="actionBar" class="clr g_noSelect">
	<span id="infoText" class="left"><strong id="numberOfRows">{{markedRows}}</strong> {{inflection}} <strong id="tableNames"></strong></span>
	<a class="actionContainer left">
		<div {{action 'addRow'}} class="inner clr">
			<span class="actionIcon add left"></span>
			<span class="actionText left">Lägg till</span>
		</div>
	</a>				
	<a class="actionContainer left">
		<div {{action 'removeRow'}} class="inner clr">
			<span class="actionIcon delete left"></span>
			<span class="actionText left">Ta bort</span>
		</div>
	</a>
</div>
<section id="contentWrapper">
	<div id="contentInnerWrapper">
		<div id="tableWrapper" class="g_noSelect">
			{{#each table in combinedTables }}
				<div class="tableContainer">
					<div class="tableTitle">
						<div class="titleDeco"></div>
						<span class="inner g_txtToUpper">{{table.name}}</span>
					</div>
					<table class="defaultTable">
						<thead class="tableHead">
							<tr class="tableRowHeader">
								<th class="tableHeadCol">
									{{input type="checkbox" checked=markRow}}
								</th>
								{{#each column in table.columns }}
									<th class="tableHeadCol" {{action 'sortBy' column.id }} {{bind-attr column-id=column.id}} >
										<div class="text">
											<span>{{column.name}}</span>
										</div>
										<div class="iconContainer">
											<span class="arrowSort"></span>
										</div>
									</th>
								{{/each}}
							</tr>
						</thead>
						<tbody class="tableBody">
							{{#each row in table.rows }}
								  <tr {{ bind-attr class="row.isMarked:active :tableRow" }}>
								  	<td class="tableCol">
										{{input type="checkbox" class="rowCheckBox" checked=row.isMarked }}
									</td>
									{{#each rowd in row.rowcontents }}
										{{#if rowd.isEditing}}
											{{data-textarea value=rowd.val focus-out="acceptEdit" }}							  
										{{else}}
											<td class="tableCol">
												<span {{action 'editTableData' rowd.id }} class="tableData">{{rowd.val}}</span>
											</td>
										{{/if}}										
									{{/each}}
								</tr>	
							{{/each}}
						</tbody>
					</table>
					{{#each rowd in sortedRows }}
						{{#if rowd.isEditing}}
							{{data-textarea value=rowd.val focus-out="acceptEdit" }}							  
						{{else}}
							<span style="color: #000;">{{rowd.val}}</span>
						{{/if}}										
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>
</section>
